In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import os,sys

In [3]:
path1 = "/home/rafael/Projetos/master-thesis/ANN-Rafael/data"
filename1 =  os.listdir(path1)

In [4]:
l1 = []
for i in range(len(filename1)): # if breaks, its the RAM so read less data.
    path_dir = os.path.join(path1,filename1[i])
    df = pd.read_csv(path_dir)
    l1.append(df)
data = pd.concat(l1, axis=0, ignore_index=True)
del df,l1

In [5]:
data

           z_phot  z_spec
0        0.697355  0.6484
1        0.625229  0.7392
2        0.795276  0.8651
3        0.797720  0.5534
4        0.993761  1.2925
...           ...     ...
1429795  0.923796  0.8285
1429796  0.843517  0.8211
1429797  0.698816  0.7034
1429798  0.815242  0.7793
1429799  0.460337  0.4400

[1429800 rows x 2 columns]

In [6]:
data.dropna(inplace= True)

In [7]:
data

           z_phot  z_spec
0        0.697355  0.6484
1        0.625229  0.7392
2        0.795276  0.8651
3        0.797720  0.5534
4        0.993761  1.2925
...           ...     ...
1429795  0.923796  0.8285
1429796  0.843517  0.8211
1429797  0.698816  0.7034
1429798  0.815242  0.7793
1429799  0.460337  0.4400

[1429800 rows x 2 columns]

In [8]:
z_phot = data["z_phot"].values
z_spec = data["z_spec"].values

In [9]:
summation = 0  #variable to store the summation of differences
n = len(data) #finding total number of items in list
for i in range (0,n):  #looping through each element of the list
    difference = z_phot[i] - z_spec[i]  #finding the difference between observed and predicted value
    squared_difference = difference**2  #taking square of the differene 
    summation = summation + squared_difference  #taking a sum of all the differences
MSE = summation/n  #dividing summation by total values to obtain average
print ("The Mean Square Error is: " , MSE)

The Mean Square Error is:  0.028455619149806974

In [10]:
np.sqrt(MSE)

0.16868793421524544